@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inconsolata&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Karla:ital,wght@0,200..800;1,200..800&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sixtyfour&family=Space+Grotesk:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
     font-family: Montserrat;
     overflow-x: hidden;
}

.navbar{
     background-color: #5D9332;
     color: white;
     font-family: Work Sans;
}

.content{
     background-color: #ffffff;
}

.tagline{
     font-size: 3.5rem;
}

.nav-items:hover{
     color: white;
}

.read-info{
     background-color: rgb(0 0 0 / 0.5);
     font-size: 0.8rem;
     bottom: 1rem;
}

.read-more{
     right: 0;
     bottom: 0;
     background-color: rgb(0 0 0 / 0.5);
     font-size: 0.8rem;
}


.modal-hd{
     background-color: #5D9332;
}

/* .modal-bd{
     background-color: #ffffff;
} */

.modal-bd-title{
     color: #5D9332;
}

#reminder, .notifications{
     color: #4361ee;
     transition: 0.2s all ease-in-out;
}

#reminder:hover , .notifications:hover{
     background-color: #4361ee;
     color: white;
     transition: 0.2s all ease-in-out;
}


.btn_get_in_touch{
     background-color: #5D9332;
}

.btn_get_in_touch:hover{
     background-color: #285804;
     /* font-weight: bold; */
}

/* Articles */
.article_arrow{
     color: white;
     transition: 0.2s all ease-in-out;
}

.article_arrow:hover{
     color: #4361ee;
     background-color: white;
     transition: 0.2s all ease-in-out;
}

/* Protein Chart */
.protein-product{
     background-color: #5D9332;
}

.footer_links{
     color: white;
     text-decoration: none;
     font-size: 0.9rem;
}

.footer_links:hover{
     color: white;
     text-decoration: underline;
}

/* Diest Plans */
.diet-plan-topics{
     color: #4361ee;
}


/* Media Queries */

@media(max-width : 420px){
     .tagline{
          font-size: 2rem;
     }
}

@media(max-width : 200px){
     .tagline{
          font-size: 1rem;
     }
}

::-webkit-scrollbar{
     height: 5px;
     width: 10px;
}

::-webkit-scrollbar-thumb{
     background-color: #5D9332;
}